header{
    position: sticky;
    top: 0;
    width: 100%;
}
h1,
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, bold;
    margin-top: 1rem;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0 2%;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  

  li a {
    display: block;
    color: rgb(255, 251, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  
  li a:hover {
    background-color: black;
    color:  rgb(255, 251, 0);
    border-radius: 15px;
  }
main,
.galeria,
.contacto,
.formu{
    height: 100vh;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.caja{
    height: 250px;
    width: 250px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 1px 1px 1px;
    font-size: large;
    font-weight: bold;
    background-color: #FDF344;
    
}
.contacto{
    display: flex;
    gap: 2rem;
    text-align: center;
    margin: 0 auto;
    align-items: center;    
}


.caja:hover{
    background-color: #111F29;
    color: yellow;
    cursor: pointer;


}

.link-card{
    color: #111F29;
    text-decoration: none;
}

.caja>img{
    margin: 0 auto;
}

.titulo2 {
    background-color: #111F29;
    color:  rgb(255, 251, 0);
    border-radius: 10px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Aca arranca el Formulario */
.formu{
    margin:50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
.formu h1 {
    font-size:50px;
    color: #111F29;
    padding-top:10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }

  
  .f-input::placeholder {
    color:black;
    opacity:0.9;
  }
  
  .f-input {
    background-color: transparent;
    border:2px solid #111F29;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
     color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 4px;
    line-height: 22px;
    text-align:left;
  }
  
  .f-input:focus { 
    border:2px solid #3a3939; }
  
  textarea {
    height: 250px;
    line-height: 150%;
    resize:vertical;
  }
  
  button {
    max-width:450px;
     font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background:#111F29;
    border-radius:10px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
  text-align:center;
    transition: all 0.3s;
    font-weight:600; 
  }
  button:hover {
   color: yellow; 
   background:#111F29; 
  }
  /* Aca termina el Formulario */
 
 
 
  .flex-container{
    display: flex;
  }

  footer{
    background-color: #111F29;
    height: 20vh;
    border-radius: 10px;
  }


  /* social media */
  .svg-inline--fa {
    vertical-align: -0.200em;
  }
  
  .rounded-social-buttons {
    text-align: center;
    margin-top: 135px;
    margin-right: 1rem;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }

  .redes{ 
    display: flex;
    justify-content: flex-end;
    align-content: end;
  }
